.jumbotron {
  background-image: url("https://i.makeagif.com/media/5-27-2017/ZWL7dc.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  background-position: center;
  border-radius: 0;
}
.jumbotron h1 {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: bold;
  color: #343a40;
  text-shadow: 0.5px 0.5px white;
  /* text-shadow: 3px solid white; */
}
body {
  padding-top: 68px;
  /* background-color: #DBE4EE; */
}
.colophon {
  padding-top: 100px;
}
.company-name {
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
  /* font-weight: bold; */
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.navbar {
  background-color: white;
  opacity: 0.9;
}
