.jumbotron {
  background-image: url("https://i.makeagif.com/media/5-27-2017/ZWL7dc.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  background-position: center;
  border-radius: 0;
}

.jumbotron h1 {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: bold;
  color: #343a40;
  text-shadow: 0.5px 0.5px white;
  font-size: 55px;
  margin-top: 50px;
}
.jumbotron p {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 35px;
  text-shadow: 0.2px 0.2px white;
}
.jumbotron button {
  /* font-family: 'Carrois Gothic', sans-serif; */
  font-size: 20px;
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #cdc7f0;
  border-color: #4f4e76;
}
.jumbotron button:hover {
  background-color: #4f4e76;
  color: white;
}
body {
  padding-top: 68px;
  /* background-color: #DBE4EE; */
}
.colophon {
  padding-top: 100px;
}
.company-name {
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
  /* font-weight: bold; */
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.navbar {
  background-color: white;
  opacity: 0.9;
}
.navbar-light a {
   color: #343a40 !important;
   font-weight: bold;
   font-family: 'Carrois Gothic', sans-serif;
}
.navbar-light a:hover {
  color: #4f4e76 !important;
  text-decoration: overline;
}
