.jumbotron {
  background-image: url("https://i.makeagif.com/media/5-27-2017/ZWL7dc.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  background-position: center;
  border-radius: 0;
}

.jumbotron h1 {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: bold;
  color: #343a40;
  text-shadow: 0.5px 0.5px white;
  font-size: 55px;
  margin-top: 50px;
}
.jumbotron p {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 35px;
  text-shadow: 0.2px 0.2px white;
}
.jumbotron .btn-primary {
  /* font-family: 'Carrois Gothic', sans-serif; */
  font-size: 23px;
  margin-top: 50px;
  padding: 9px 27px;
  border-radius: 5px;
  color: #343a40;
  background-color: #cdc7f0;
  border-color: #4f4e76;
  font-family: 'Carrois Gothic', sans-serif;
}
.jumbotron .btn-primary:hover {
  background-color: #4f4e76;
  color: white;
}
body {
  padding-top: 68px;
  font-family: 'Carrois Gothic', sans-serif;
  /* background-color: #DBE4EE; */
}
.company-name {
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
  font-size: 60px;
  padding-top: 30px;
}
.mission {
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
  font-size: 20px;
  padding-bottom: 20px;
}
.navbar {
  background-color: white;
  opacity: 0.9;
}
.navbar-light a {
   color: #343a40 !important;
   font-weight: bold;
   font-family: 'Carrois Gothic', sans-serif;
}
.navbar-light a:hover {
  color: #4f4e76 !important;
  text-decoration: overline;
}

.cards{
  padding:30px 0px;
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;

}
.cards .card-header {
  color: white;
  background-color: #160F29;
}
.cards h5 {
  font-weight: bold;
}
.cards span {
  font-size: 30px;
}
.cards .btn-primary {
  font-size: 20px;
  /* margin-top: 50px; */
  padding: 10px 30px;
  border-radius: 5px;
  color: #343a40;
  background-color: #cdc7f0;
  border-color: #4f4e76;
}
.cards .btn-primary:hover {
  background-color: #4f4e76;
  color: white;
}
.plan-header {
  padding-bottom: 30px;
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
}
.colophon {
  margin-top: 150px;
  padding-bottom: 50px;
  font-family: 'Carrois Gothic', sans-serif;
  color: white;
}
.footer-background {
  background-color: #343a40;
}
.form {
  margin-top: 20px;
  padding-bottom: 50px;
}
.form .btn {
  margin-left: 10px;
  font-size: 17px;
  border-radius: 5px;
  color: #343a40;
  background-color: #cdc7f0;
  border-color: #4f4e76;
}
.form .btn:hover {
  background-color: #4f4e76;
  color: white;
}
.colophon a {
  color: white;
}
label {
  font-size: 25px;
}
.links {
  margin-top: 40px;
  margin-bottom: 15px;
}
.colophon li {
  border-radius: 3px;
}

.calculator {
  font-family: 'Carrois Gothic', sans-serif;
  color: #343a40;
  margin-top: 20px;
  background-color: #CCC;
  padding: 20px;
  border-radius: 5px;
}

.calculator h1 {
  font-size: 60px;
  padding-bottom: 10px;
}

.calculator .explanation {
  font-size:18px;
  padding-bottom: 20px;
  font-weight: bold;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 22px;
  background-color: #7cafc4;
  border-color: #7cafc4;
  color: white;
}

button:visited {
  background-color: #348aa7;
  color: #343a40;
}

.package-section {
  padding: 10px 0;
}

.hide_total h2 {
  font-size: 50px;
}

#buy {
  background-color: #59c3c3;
  border-color: #59c3c3;
  color: white;
  font-size: 30px;
}

h5 a{
  color: white;
}

h5 a:hover{
  color: white;
}
.packages {
  padding-top: 50px;
  font-family: 'Carrois Gothic', sans-serif;
}
.packages h3 {
  color: #343a40;
  font-size: 30px;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  padding: 1px 3px;
}
.packages a:hover {
  text-decoration: none;
}
.packages h3:hover {
  font-weight: bold;
  color: #348aa7;
}
.offers {
  padding-top: 50px;
  color: #343a40;
}

.phone-image {
  background-image: url("../images/phone1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 5px;
}
